* {
    font-family: 'Poppins', sans-serif;
    background-color: #E7F1F1;
    /* border: 2px solid red  */
}

body {
    display: flex;
    flex-direction: column;
    margin-right: 300px;
    height: 100vh;
}

header {
    display: flex;
    justify-content: center;
    
}

h1 {
    font-size: 70px;
    font-weight: 800;
}

.colorboxeswrapper {
    display: flex;
    justify-content: center;

}

.box {
    height: 100px;
    width: 100px;
    border: black 3px solid;
    margin: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.lock {
    height: 28px;
    width: 28px;
    background: transparent;
    background-image: url("assets/locked.png");
    background-size: cover;
    border: none;
    margin-bottom: 3px;
}


.unlock {
    height: 28px;
    width: 28px;
    background: transparent;
    background-image: url("assets/unlocked.png");
    background-size: cover;
    border: none;
    margin-bottom: 3px;
}

#color1 {
   background-color: #EA9999;
}

#color2 {
   background-color: #FACB9C;
}

#color3 {
    background-color: #FFE59A;
}

#color4 {
    background-color: #B6D7A8;
}

#color5 {
    background-color: #A4C4CA;
}


.hexvalue {
    width: 100px;
    margin: 10px;
    text-align: center;
    font-weight: 300;
}

.buttons-wrapper{
    display: flex;
    justify-content: center;
}

.new-save-container{
    display:flex;
    justify-content: space-around;
    margin: 10%;
    width:640px;
}

.new-button, .save-button{
    background-color: black;
    color: white;
    border-top-right-radius: 250px;
    border-bottom-left-radius: 250px;
    width: 200px;
    height:40px;
    border:none;
    font-size: 20px;
}

.new-button:hover, .save-button:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.hidden{
    display:none;
}

.saved-palette-wrapper{
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 300px;
    border-left: 2px solid black;
  }

.saved-palette-box-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-content: start;
}

.mini-box {
    height: 35px;
    width: 35px;
    margin: 5px;
    border: 3px solid black
}

.saved-palette-header {
    text-align: center;
}